AD4AYB_0929/HB_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orarend" type="orarendType"/>
  <xs:complexType name="idopontType">
    <xs:sequence>
      <xs:element name="nap">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="hétfő"/>
            <xs:enumeration value="hetfo"/>
            <xs:enumeration value="kedd"/>
            <xs:enumeration value="csutortok"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tol">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="08:00"/>
            <xs:enumeration value="12:00"/>
            <xs:enumeration value="15:00"/>
            <xs:enumeration value="17:00"/>
            <xs:enumeration value="10:00"/>
            <xs:enumeration value="14:00"/>
            <xs:enumeration value="18:00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ig">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="10:00"/>
            <xs:enumeration value="15:00"/>
            <xs:enumeration value="17:00"/>
            <xs:enumeration value="19:00"/>
            <xs:enumeration value="12:00"/>
            <xs:enumeration value="14:00"/>
            <xs:enumeration value="16:00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oraType">
    <xs:sequence>
      <xs:element name="targy">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Valószínűség számítás"/>
            <xs:enumeration value="Mesterséges interligencia"/>
            <xs:enumeration value="WEB technolóliák"/>
            <xs:enumeration value="WEB-es alkalmazások Java"/>
            <xs:enumeration value="Adatkezelés XML-ben"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="idopontType" name="idopont"/>
      <xs:element name="helyszin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="II. ea"/>
            <xs:enumeration value="XXX ea"/>
            <xs:enumeration value="in/103"/>
            <xs:enumeration value="in/15"/>
            <xs:enumeration value="XXXVII ea"/>
            <xs:enumeration value="in/101"/>
            <xs:enumeration value="in/203"/>
            <xs:enumeration value="A1/14"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="oktato">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Fegyverneki Sándor"/>
            <xs:enumeration value="Dudás László"/>
            <xs:enumeration value="Agárdi Anita"/>
            <xs:enumeration value="Sátán Ádám"/>
            <xs:enumeration value="Dr. Bednarik László"/>
            <xs:enumeration value="Glavosits Tamás"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="szak"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="tipus" use="optional"/>
  </xs:complexType>
  <xs:complexType name="orarendType">
    <xs:sequence>
      <xs:element type="oraType" name="ora" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>